body{
	margin: 0rem;
	text-align: center;
}
.rowBox{
	margin-top: 1.25rem;
}
.label{
	width: 4.6875rem;
}
.label.dragged-over{
	border: 1px solid;
}

#container{
	background-color: rgb(95, 30, 208);
	color: rgb(240, 218, 255);
	width: 70%;
	padding: 1.875rem 1.875rem;
	border-radius: 0.625rem;
	align-items: center;
}
.f_r{
	display: flex;
	flex-direction: row;
	width: 100%;
	text-align: center;
}
.audio_box{
	width: 1.25rem;
	height: 1.25rem;
	background-color: rgb(200, 161, 255);
	border-radius: 0.625rem;
	margin-left: 0.125rem;
}
.audio_box2{
	width: 1.25rem;
	height: 1.25rem;
	background-color: rgb(200, 161, 255);
	border-radius: 0.625rem;
	margin-left: 0.125rem;
}
.w_50{
	width: 1.875rem;
}
.in_box{
	width: 12%;
	padding: 0rem;
	margin-left: 1.5%;
	background-color: rgb(230, 213, 255);
	color: rgb(24, 24, 118);
	text-align: center;
}
.com_bt{
	/* width: 9.375rem; */
	width: 12%;
	padding: 0.25rem;
	background-color: rgb(40, 61, 128);
	border-radius: 0.625rem;
	margin-left: 12%;
	text-align: center;
}
.com_bt:hover{
	background-color: rgb(24, 24, 118);
	color: rgb(95, 30, 208);
}
.active{
	background-color: rgb(230, 234, 138);
}