body{
	margin: 0rem;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.rowBox{
	margin-top: 1.25rem;
}
.label{
	width: 4.6875rem;
}
.label.dragged-over{
	border: 1px solid;
}
#container{
	justify-content: center;
	/* left: 30px; */
	min-width: 1200px;
	background-color: rgb(95, 30, 208);
	color: rgb(240, 218, 255);
	width: 70%;
	padding: 1.875rem 1.875rem;
	border-radius: 0.625rem;
	align-items: center;
}
.f_r{
	display: flex;
	flex-direction: row;
	width: 100%;
	text-align: center;
}

.finlbl{
	position: relative;
	top:0rem; left: -25rem;
	/* background-color:  hsl(225, 48%, 37%); */
	/* display: inline-block; */
	display: inline;
	margin-left: 10px;
	/* font-size: small; */
	color:rgb(209, 225, 239)
}
.checklbl{
	position: relative;
	top:0.5rem; left: 10rem;
	background-color:  #31478c;
	display: inline-block;
	/* margin-left: 540px; */
	font-size: small;
	color:rgb(209, 225, 239)
}
.steplbl{
	position: relative;
	top:0.5rem; left: 10rem;
	background-color:  hsl(225, 48%, 37%);
	display: inline-block;
	margin-left: 10px;
	font-size: small;
	color:rgb(209, 225, 239)
}
.methodlbl{
	position: relative;
	top:0.5rem; left: 13.25rem;
	background-color:  #31478c;
	display: inline-block;
	margin-right: 20px;
	font-size: small;
	color:rgb(209, 225, 239)
}
.audio_box{
	width: 1.25rem;
	height: 1.25rem;
	background-color: rgb(200, 161, 255);
	border-radius: 0.625rem;
	margin-left: 0.125rem;
}
.audio_box2{
	width: 1.25rem;
	height: 1.25rem;
	background-color: rgb(200, 161, 255);
	border-radius: 0.625rem;
	margin-left: 0.125rem;
}
.w_50{
	width: 1.875rem;
}
.in_box{
	width: 12%;
	padding: 0rem;
	margin-left: 1.5%;
	background-color: rgb(230, 213, 255);
	color: rgb(24, 24, 118);
	text-align: center;
}
.com_bt{
	width: 12%;
	padding: 0.25rem;
	background-color: rgb(40, 61, 128);
	border-radius: 0.625rem;
	margin-left: 12%;
	text-align: center;
}
.com_bt:hover{
	background-color: rgb(24, 24, 118);
	color: rgb(95, 30, 208);
}
.active{
	background-color: rgb(230, 234, 138);
}
.space{
	margin-left: 0.25rem;
}
.freezechoice{
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.move_left{
	margin-left: 1rem;
	width: 1em;
	color: rgb(200, 161, 255);
	margin-right: 1em;
}
.move_left:hover{
	color: rgb(230, 234, 138);
}
.move_right{
	margin-top :0.15em;
	width: 1em;
	color: rgb(200, 161, 255);
	margin-right: 0.25;
}
.move_right:hover{
	color: rgb(230, 234, 138);
}

.gen_btn{
	/* width: 9.375rem; */
	/* width: 12%; */
	padding: 0.1rem;
	background-color: rgb(40, 61, 128);
	border-radius: 0.25rem;
	margin-left: 0.25rem;
	text-align: center;
}
.gen_btn:active{
	background-color: rgb(40, 61, 128);
}
.gen_btn:hover{
	background-color: rgb(24, 24, 118);
	color: rgb(95, 30, 208);
}
.gen_btn:disabled{
	background-color: rgba(255, 251, 251, 0.942);
	color: rgb(85, 85, 85);
}
#addBtn{
	background-color: rgb(40, 61, 128);
	color: rgb(200, 161, 255);
	width : 10%;
}
.addmode{
	background-color: rgb(214, 91, 239);
	color:rgb(234, 65, 65)
}
.sel{
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	padding:0.1rem;
	/* width: 80px; */
	width: 5em
}
.sel2{
	position: relative;
	left: 45rem;
}
.slider{
	width: 8%;
}
.sliderVal{
	width : 2rem;
	/* padding:0.25rem; */
	/* margin-left: 0.25rem;
	margin-right: 0.25rem; */
}
.dlBtn{
	/* width: 9.375rem; */
	/* width: 12%; */
	justify-content: left;
	padding-left: 0rem;
	padding-right: auto;
	height : 2rem;
	background-color:rgb(240, 218, 255);
	color: rgb(95, 30, 208);
	border-radius: 0.25rem;
	margin-left: 0rem;
	text-align: center;
}
/* .addlbl{
	position: relative;
	top:0.5rem; left: 10rem;
	background-color:  hsl(225, 48%, 37%);
	display: inline-block;
	margin-left: 10px;
	font-size: small;
	color:rgb(209, 225, 239)
} */
select{
	max-width: 80px;
    width: 80px;
	overflow: auto; 
} 

option{
	width: 80px;
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.gen_btn:active{
	background-color: rgb(40, 61, 128);
}
.gen_btn:hover{
	background-color: rgb(24, 24, 118);
	color: rgb(95, 30, 208);
}